/* Задаем базовые стили */

body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
}

/* Button Design */

.button-red,
.button-green,
.button-yellow,
.button-gray,
.button-red-email{
    display: inline-block;

    width: 240px;
    height: 50px;

    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    border-radius: 2px;
}

.button-red:active,
.button-green:active,
.button-yellow:active,
.button-gray:active,
.button-red-email:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-red {
    background-color: #fb565a;
}

.button-red:hover {
    background-color: #e74246;
}

.button-red:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
}

.button-gray {
    background-color: #eeeeee;
}

.button-gray:hover {
    background-color: #dfdfdf;
}

.button-gray:active {
    background-color: #dfdfdf;
}


/* ----- Размечаем шапку ----- */

.page-top-wrapper {
    background-color: #eeeeee;
}

.main-header {
    padding-top: 49px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}

.main-header-logo {
    margin: 0;
    padding: 0;

    width: 160px;
    height: 65px;
}

.navigation-wrapper {
    width: 798px;
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    margin: 0;
    margin-top: 17px;
    padding: 0;

    display: flex;
    justify-content: space-between;
    list-style: none;

}

.site-navigation li {
    margin-right: 46px;
}


.cart {
    position: relative;

    margin: 0;
    margin-top: 17px;
    padding: 0;

    list-style: none;
}

.cart::before {
    position: absolute;
    top: 7px;
    left: -40px;

    width: 15px;
    height: 15px;

    background: url("../img/cart-icon.svg") no-repeat;
    content: "";
    opacity: 0.3;
}

.site-navigation a,
.cart a {
    color: #000000;
}

.site-navigation a:hover,
.cart a:hover {
    color: #fb565a;
}

.site-navigation a:active,
.cart a:active {
    color: rgba(0, 0, 0, 0.3);
}



.site-navigation-current a{
    border-bottom: 2px solid #fb565a;
}

/* Размечаем главный слайдер */

.main-slider {
    margin-bottom: 80px;

    position: relative;

    background-color: #eeeeee;
}

.main-slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 97px;
    left: 50%;

    margin-left: -44px;

    display: flex;
    justify-content: space-between;

    width: 88px;
}

.slider-controls label {
    position: relative;
    display: inline-block;

    width: 18px;
    height: 18px;

    border-radius: 50%;
    background-color: #ffffff;

    cursor: pointer;
}

.slider-controls label::after {
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid #c2c2c2;
    display: none;
}

.slides {

}

.slides p {
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
}

.slide:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 431px 18px;
}

.slide:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: right;
}

.slide:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 20px;
}

.slide .slide-title {
    padding: 0;
    margin: 0;
    padding-top: 79px;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

}

.slide .slide-text {
    padding-top: 26px;
    color: #283136;
}

.slide a {
    margin-top: 39px;
    margin-bottom: 80px;
}

#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2),
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

#btn-1:checked ~ .slider-controls  label[for="btn-1"]::after,
#btn-2:checked ~ .slider-controls  label[for="btn-2"]::after,
#btn-3:checked ~ .slider-controls  label[for="btn-3"]::after {
    display: block;
}


/* Размечаем основной контент сраницы */

.features {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    border-bottom: 2px solid #eeeeee;
}

.features-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-bottom: 80px;
    padding: 0;

    list-style: none;
}

.feature-item {
    width: 300px;
}

.feature-item img {

}

.feature-item h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.feature-item p {
    color: #283136;
}

.about-us {
    display: flex;
    justify-content: space-between;

    padding-bottom: 75px;
}

.studio-info {
    width: 700px;
}

.studio-info b {
    font-size: 45px;
    line-height: 45px;
}

.studio-info p {
    color: #283136;
}

.about-us span {
    font-weight: bold;

    text-transform: uppercase;
}

.studio-stats {
    width: 360px;
}

.custom-list {
    list-style: none;
    color: #283136;
}

.custom-list span {
    color: #000000;
    font-weight: bold;
    font-size: 45px;
    line-height: 10px;
}

.custom-list p {
    line-height: 18px;
}

.partners {
    margin-bottom: 80px;

    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.partners-list {
    display: flex;
    justify-content: space-between;

    padding: 45px 0;
    margin: 0;

    list-style: none;

    opacity: 0.2;
}

/* ----- Разметка внутренних странниц ----- */

.catalog-header h1 {
    padding-top: 85px;
    padding-bottom: 115px;

    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

.catalog {
    display: flex;
    justify-content: space-between;
}

.catalog-filter {
    width: 260px;
}

.catalog-items {
    width: 760px;
}

.sort-row {
    display: flex;
    justify-content: space-between;
}
/* Размечаем футтер */

.main-footer {

}

